page1/project/projectFile/bin/Debug/net8.0/projectFile.dll
page1/project/projectFile/bin/Debug/net8.0/projectFile.exe
page1/project/projectFile/bin/Debug/net8.0/projectFile.pdb
page1/project/projectFile/obj/Debug/net8.0/apphost.exe
page1/project/projectFile/obj/Debug/net8.0/projectFile.AssemblyInfo.cs
page1/project/projectFile/obj/Debug/net8.0/projectFile.AssemblyInfoInputs.cache
page1/project/projectFile/obj/Debug/net8.0/projectFile.csproj.CoreCompileInputs.cache
page1/project/projectFile/obj/Debug/net8.0/projectFile.dll
page1/project/projectFile/obj/Debug/net8.0/projectFile.pdb
page1/project/projectFile/obj/Debug/net8.0/ref/projectFile.dll
page1/project/projectFile/obj/Debug/net8.0/projectFile.sourcelink.json
page1/project/projectFile/obj/Debug/net8.0/refint/projectFile.dll
page1/project/projectFile/obj/Debug/net8.0/refint/projectFile.dll
page1/project/projectFile/obj/Debug/net8.0/ref/projectFile.dll
page1/project/projectFile/obj/Debug/net8.0/projectFile.sourcelink.json
page1/project/projectFile/obj/Debug/net8.0/projectFile.pdb
page1/project/projectFile/obj/Debug/net8.0/projectFile.dll
page1/project/projectFile/obj/Debug/net8.0/projectFile.AssemblyInfoInputs.cache
page1/project/projectFile/obj/Debug/net8.0/projectFile.AssemblyInfo.cs
page1/project/projectFile/obj/Debug/net8.0/apphost.exe
page1/project/projectFile/bin/Debug/net8.0/projectFile.pdb
page1/project/projectFile/bin/Debug/net8.0/projectFile.exe
page1/project/projectFile/bin/Debug/net8.0/projectFile.dll
